.ios,
.md {
  page-login {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    -webkit-transform:translate3d(0,0,0);
    ion-content {
      background: #cfa2ff;
    }

    .div-padding {
      padding-top: 150px !important;
    }

    .scroll-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: #cfa2ff;
      opacity: 0.9;
      font-size: 0.9em;
      color: white;
    }

    ion-list {
      margin: 0;
    }

    .login-button {
      width: 100%;
      font-size: 0.9em;
      border: 0.2px solid #cfa2ff;
      background-color: #39acdc;
    }

    .sign-up-button {
      border-radius: 30px;
      font-size: 0.9em;
      font-weight: bold;
      color: white;
    }
  }
}
