<ion-header>
    <ion-navbar>
      <ion-title>{{chatpartner.fullName}}</ion-title>
      <ion-buttons>
          <button ion-button icon-only (click)="dismiss()">
              <ion-icon color="white" name="arrow-back"></ion-icon>
            </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content #content padding id="chatPage">
        <ion-list>
            <ion-item no-lines text-wrap *ngFor="let chat of chats | sort:'time'">
              <ion-avatar item-end *ngIf="!isChatPartner(chat.sender.email)">
                  <img src="{{chatuser.avatar_image}}">
              </ion-avatar>
              <p class="chatbox" *ngIf="!isChatPartner(chat.sender.email)">{{chat.message}}</p>
              <ion-avatar item-start *ngIf="isChatPartner(chat.sender.email)">
                  <img src="{{chatpartner.avatar_image}}">
              </ion-avatar>
              <p class="chatbox chatbox-right" *ngIf="isChatPartner(chat.sender.email)">{{chat.message}}</p> 
            </ion-item>
          </ion-list>
  </ion-content>
  
  <ion-footer class="message-footer">
      <ion-toolbar class="message-toolbar" color="light">
        <ion-item>
            <ion-textarea [(ngModel)]="message" class="message-input" placeholder="Enter Message" text-start autocomplete="on" autocorrect="on" (keydown)="checkKeyboard()"></ion-textarea>
        </ion-item>
        <ion-buttons end>
            <button ion-button icon-only (click)="addChat()">
              <ion-icon name="ios-send"></ion-icon>
            </button>
          </ion-buttons>
      </ion-toolbar>
    </ion-footer>