page-profile {
    
    /* Profile avatar */
    .avatar {
      border-radius: 50%;
      position: absolute;
      width: 100px;
      height: 100px;
    }

    img {
      transform: rotate(270deg);
    }
  
    /* Small for notifications */
    .badge-container {
      position: relative;
    }

    .break {
      height: 1px; 
      margin-top: 8px;
      margin-bottom: 8px;
      background-color: #eaeff5;
    }
  
    .custom-badge {
      top:5px;
      left:15px;
      background: map-get($colors, danger);
      border-radius: 100%;
      color: #fff;
      font-size: 12px !important;
      padding: 4px;
      font-weight: bold;
    }
  
    .info {
      padding-top: 4px;
    }
  
    /* Profile edit button */
    .edit-button {
      background: #fff;
      border: 1px solid #ccc;
      font-size: 13px;
      border-radius: 3px;
      padding: 5px;
      font-weight: bold;
      width: 90%;
      margin-right: 30px;
    }
  
    .edit-button:active {
      border-color: #dce2ed;
    }
    
    ion-input, ion-textarea {
      padding-left: 10px;
      opacity: 0.5;
      border: 1px solid #eaeff5;
    }

    /* Profile edit button */
  .edit-button {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    width: 90%;
    margin-right: 30px;
  }

    .post-header {
      text-align: center;
    }

    .card-body {
      align-content: center;
      align-self: center;
    }
  }
  
