<!--
  Generated template for the ConnectionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-buttons>
        <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon color="white" name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
<ion-content padding>
    <ion-list>
      <ion-list-header>Connections</ion-list-header>
        <ion-item *ngFor="let connection of connections" (click)="showUserProfile(connection)">
          <span *ngIf="connection.accepted === undefined; else showConnections">
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img src="{{connection.avatar_image}}">
                </ion-avatar>
              </ion-col>
              <ion-col>
                <h2>{{connection.fullName}}</h2>
                <p>{{connection.posted}}</p>
              </ion-col>
              <ion-col>
                <button ion-button icon-only color="secondary" small (click)="acceptConnectionRequest(connection)">
                    <ion-icon name="ios-checkmark" ></ion-icon>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-only color="danger" small (click)="denyConnectionRequest(connection)">
                    <ion-icon name="ios-close" ></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </span>
          <ng-template #showConnections>
              <span *ngIf="connection.accepted === true;">
                <ion-row>
                  <ion-col>
                    <ion-avatar>
                      <img src="{{connection.avatar_image}}">
                    </ion-avatar>
                  </ion-col>
                  <ion-col>
                    <h2>{{connection.fullName}}</h2>
                    <p>Accepted on: {{connection.posted}}</p>
                  </ion-col>
                </ion-row>
              </span>
          </ng-template>
        </ion-item>
      </ion-list>
</ion-content>
