<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon color="white" name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="events-list" *ngIf="!isLoading">
    <ion-calendar #calendar lang="en" [events]="data.entries" (onDaySelect)="onDaySelect($event)"></ion-calendar>
      <div *ngIf="!(eventsList.length > 0); else showList">
        <p>Events you add will be shown here</p>
      </div>
      <ng-template #showList>
        <ion-list>
          <ion-list-header>
            Entries
          </ion-list-header>
          <div class="event-list">
            <ion-item *ngFor="let entry of data.entries">{{entry}}</ion-item>
          </div>
        </ion-list>
      </ng-template>
  </div>
</ion-content>
