<ion-header>
  <ion-searchbar [showCancelButton]="true" (ionCancel)="onCancel()" class="searchbar" [(ngModel)]="searchdata" (input)="getItems($event)"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="searchdata">
    <ion-item *ngFor="let user of users" (click)="showUserProfile(user);">
      <ion-avatar item-start>
        <img src="{{user.avatar_image}}">
      </ion-avatar>
      <h2>{{user.fullName}}</h2>
      <p>{{user.myStory}}</p>
    </ion-item>
  </ion-list>
</ion-content>