<!--
  Generated template for the PublicForumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon color="white" name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card no-padding padding-bottom no-margin class="card" *ngFor="let post of forum.posts">

        <ion-item (click)="showUserProfile(post)">
          <ion-avatar item-left>
            <img src="{{post.avatar_image}}" onerror="this.src='./assets/imgs/default-avatar.jpg'" class="avatar-image" />
          </ion-avatar>
          <h2 style="font-weight: bold">{{post.user_name}}</h2>
          <p>{{post.posted}}</p>
        </ion-item>

        <img *ngIf="post.image !== undefined" src="{{post.image}}">
        
        <p no-margin no-padding *ngIf="post.image !== undefined">
            <button clear ion-button icon-only (click)="likePost(post)" class="like-btn">
              <ion-icon no-padding isActive="false" name="ios-thumbs-up-outline" class="icon-space"></ion-icon>
            </button>
            <button clear ion-button icon-only (click)="addComment(post)">
              <ion-icon no-padding isActive="false" color="black" name="ios-text-outline" class="icon-space" style="font-weight: bold"></ion-icon>
            </button>
        </p>

        <hr>

        <ion-card-content *ngIf="post.image !== undefined">
          <p class="like-content"><ion-icon name="heart"></ion-icon> {{post.likes}} likes</p>
          <p>{{post.text}}</p>
          <ion-note style="font-size: 12px">
              {{post.time_since}}
          </ion-note>
        </ion-card-content>
        <ion-card-content text-wrap *ngIf="post.image === undefined"> 
            {{post.text}}
          </ion-card-content>
          <ion-row *ngIf="post.image === undefined">
              <ion-col>
                <button ion-button icon-start clear small (click)="likePost(post)">
                  <ion-icon name="ios-thumbs-up-outline"></ion-icon>
                  <div>{{post.likes}} Likes</div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-start clear small (click)="addComment(post)">
                  <ion-icon name="ios-text-outline"></ion-icon>
                  <div *ngIf="post.comments !== undefined; else showNone">{{post.comments.length}} Comments</div>
                  <ng-template #showNone>0 Comments</ng-template>
                </button>
              </ion-col>
              <ion-col center text-center>
                <ion-note>
                    {{post.time_since}}
                </ion-note>
              </ion-col>
            </ion-row>

  
      </ion-card>
</ion-content>
<ion-footer class="message-footer">
   <div class="image-div" *ngIf="entry.image !== null">
      <ion-icon name="close" class="close-icon" (click)="removePhoto();"></ion-icon>
      <img class="image" [src]="entry.image" />
   </div>
    <ion-toolbar class="message-toolbar" color="light">
      <ion-buttons start>
        <button ion-button icon-only (click)="addImage()">
          <ion-icon name="ios-add"></ion-icon>
        </button>
      </ion-buttons>
      <ion-item>
          <ion-textarea [(ngModel)]="entry.text" class="message-input" placeholder="Enter Post Text" text-start autocomplete="on" autocorrect="on"></ion-textarea>
      </ion-item>
      <ion-buttons end>
          <button ion-button icon-only (click)="submit()">
            <ion-icon name="ios-send"></ion-icon>
          </button>
        </ion-buttons>
    </ion-toolbar>
  </ion-footer>
