page-public-forum {
    .fab-button {
        background-color: #cfa2ff
      }
      
      .message-input {
        background-color: #ffffff !important;
        opacity: 0.9;
        border-radius: 30px !important;
        height: 5px;
        width: 5px !important;
    }

    .avatar-image {
      transform: rotate(270deg);
    }

    ion-item {
        border-radius: 30px !important;
    }

    .image {
      position: absolute;
      z-index: 998;
      bottom: 125%;
      width: 25%;
      height: 125px;
      transform: rotate(0deg);
      margin-left: 10px;
    }

    .close-icon {
      color: white;
      position: absolute;
      z-index: 999;
      bottom: 178px;
      left: 100px;
      transform: rotate(0deg);
    }

    /* Stories */
  .story {
    white-space: nowrap;
    height: 105px
  }
  
  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  }

  .story_img_bg:active {
    background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    border-radius: 50%;
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px
  }

  /* Like button */
.like-btn {
  animation: heartbeat 1s linear;
}

/* Link */
a {
  text-decoration: none;
  color: #003581;
}

/* Card Content */
.card {
  width: 100vw !important;
}

.like-content {
  font-weight: bold;
  font-family: Helvetica Neue;
}

.icon-space {
  padding-top: 3px;
  padding-left: 10px;
}

}
